ul {
  list-style-type: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-family: 'IBM Plex Mono', monospace;
  padding-inline-start: 10px;
}

li {
  float: left;
  padding: 0 10px;
}

li a {
  display: block;
  padding: 8px;
  color: white;
  background-color: grey;
  opacity: 75%;
  border-radius: 25px;
}

li a:link {
  background-color: blue;
  color: white;
  opacity: 100%;
}

li a:active {
  opacity: 100%;
}

li a:hover {
  background-color: blue;
  opacity: 100%;
}

li:last-child {
  border-right: none;
}

body {
 background-color: #eef3f7;
}

.right {
  float: right;
  align-items: flex-end;
}

.center {
  margin-top: 10%
}

.left {
  float: right;
  align-items: flex-end;
  margin-top: 15%;
}

/* .outer:hover > div {
  opacity: 0.5;
}

.outer:hover > div:hover {
  opacity: 1.0;
} */


div {
  width: 300%;
  height: 1000%;
  overflow: scroll;
  display: flex;
}
