ul {
  list-style-type: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-family: 'IBM Plex Mono', monospace;
  padding-inline-start: 10px;
}

li {
  float: left;
  padding: 0 10px;
}

li a {
  display: block;
  padding: 8px;
  color: white;
  background-color: grey;
  opacity: 75%;
  border-radius: 25px;
}

li a:link {
  background-color: blue;
  color: white;
  opacity: 100%;
}

li a:active {
  opacity: 100%;
}

li a:hover {
  background-color: blue;
  opacity: 100%;
}

li:last-child {
  border-right: none;
}

.left {
  /* left: -100; */
  float: left;
  /* width: 100%; */
  /* position: fixed; */
}

div {
  width: 300%;
  overflow: scroll;
  display: flex;
}
